@font-face {
  font-family: Chicago;
  src: url(/Chicago.ttf);
}

#root {
  background-color: #a0c878;
  background-image: url(/bg-large.png);
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-width: 100vw;
  min-height: 100vh;
  color: #143d60;
  font-family: Chicago;
  margin: 0;
}

body {
  overflow: hidden;
}
